:root {
  --rbg--progress: 76, 175, 80;
}

@media screen and (min-width: 360px) {
  article {
    --font--size: 16px;
    --line-height: 24px;
  }
}
@media screen and (min-width: 425px) {
  article {
    --font--size: 18px;
    --line-height: 28px;
  }
}
.article-cover {
  background-color: var(--article-cover--bg-color, transparent);
  img {
    max-width: 100%;
    height: min(500px, 50vmin);
    min-height: 200px;
    object-fit: cover;
    object-position: top;
  }
}
article {
  --col--max: 8;
  justify-self: center;
  max-width: calc(
    (var(--col--max) * var(--col--w)) +
      ((var(--col--max, 1) - 1) * var(--col--g))
  );
  p {
    margin-bottom: var(--spacing--sm);
  }
  img {
    width: 100%;
  }
  li {
    margin-bottom: 1em;
  }
  blockquote {
    padding: 20px 10px 20px 20px;
    margin-bottom: 10px;
    border-left: 6px solid rgba(var(--c--dark), 0.2);
    background-color: rgba(var(--c--dark), 0.05);
    font-style: italic;
    --font--size: 20px;
  }
}

#scroll-progress {
  height: 0.5rem;
  position: sticky;
  bottom: 0;
  background: hsla(0, 0%, 95%, 1);
}
.scroll-progress__bar {
  height: 100%;
  width: var(--progress, 0%);
  background: rgb(var(--rbg--progress));
  transition: width ease-in 0.2s;
  will-change: width;
}
