.article-cover img {
  width: 100%;
  height: min(500px, 50vmin);
  min-height: 200px;
  object-fit: cover;
  object-position: top;
}

article {
  --font--size: 18px;
  --line-height: 26px;
  max-width: 680px;
}
article img {
  width: 100%;
}

.container--blog {
  --lane-w: 680px;
}

.container--blog ul,
ol {
  margin-bottom: 1em;
}

.container--blog p,
.container--blog li {
  font-size: 18px;
  line-height: 30px;
}

.container--blog p {
  margin-top: 18px;
}

.container--blog blockquote > p {
  margin: 30px 0;
  padding-left: 1rem;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

#scroll-progress {
  height: 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #f2f2f2;
}

.scroll-progress__bar {
  height: 100%;
  width: var(--progress, 0%);
  background: #4caf50;
  transition: width ease-in 0.2s;
  will-change: width;
}