#greeting {
  padding: 1rem;
  align-self: center;
  justify-self: center;
  flex-grow: 1;
}
.container--main {margin-top: 3rem; display:  grid;justify-content: center; row-gap: 1rem; column-gap: 2rem;}
/* MEDIA TABLET */
@media screen and (max-width: 624px){
  .container--main {grid-template-columns: calc(100% - 32px);}
}
/* MEDIA LATOP */
@media screen and (min-width: 624px){
  .container--main {grid-template-columns: 600px; grid-auto-flow: row;}
}
/* MEDIA DESKTOP */
@media screen and (min-width: 1232px){
  .container--main {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 600px);
  }
}
