header {
  padding: var(--spacing--sm) var(--spacing--md);
}

/* Images & SVG */
img {
  width: 100%;
  object-fit: cover;
}
svg > * {
  user-select: none;
  pointer-events: none;
}
/* P & blockquote */
p {
  margin-bottom: var(--spacing--md);
}
blockquote {
  margin: 1.6rem 0;
  padding-left: 1rem;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.6;
  opacity: 0.8;
}
/* Anchor y Button */
a:hover,
button:hover {
  cursor: pointer;
}
a.transparent,
button.transparent {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}
/* TEXT CLASSES */
.overtext {
  font-size: 12px;
  margin-top: 1rem;
}
.capitalize {
  text-transform: capitalize;
}
.bold {
  font-weight: bold;
}
/* BUTTON CLASSES */
.btn {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #0d0d0d;
  padding: 0.5em 1em;
}
/* CARD CLASSES */

/* LAYOUT UTILS */
.grid-layout {
  display: grid;
  --col-count: 4;
  --col-width: 72px;
  grid-template-columns: repeat(var(--col-count), 72px);
  column-gap: var(--spacing--sm);
  justify-content: center;
}
.col--4 {
  grid-column-end: span 4;
}
.col--all {
  grid-column: 1 / -1;
}
@media screen and (min-width: 760px) {
  .grid-layout {
    --col-count: 8;
  }
}
@media screen and (min-width: 1000px) {
  .grid-layout {
    --col-count: 12;
  }
}
.skeleton {
  background: rgb(var(--rgb--light));
  color: transparent;
}
/* UTILS */
