:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --c-text--light: black;
  --c-text--dark: white;
  --rgb-accent: 245, 0, 0;

  --rgb-white: 255, 255, 255;
  --rgb-gray-1: 217, 217, 217;
  --rgb-gray-2: 148, 148, 148;

  --c-bg: rgb(var(--rgb-gray-1));
  --c-text: rgb(var(--c-text--light));

  --app-size: min(1280px, 100vw);



  color-scheme: light;
  color: var(--c-text);
  background-color: var(--c-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  --shape-size: calc(var(--app-size) * .5);
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  overflow: hidden;
}
body::before,
body:after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
}
body::before {
  z-index: -1;
  background: linear-gradient(45deg, rgba(var(--rgb-gray-2), 0.6), rgba(var(--rgb-white), 0.6));
}
body::after {
  background-color: rgba(var(--rgb-white),0.2);
  backdrop-filter: blur(30px);
}
img {
  user-select: none;
}
button {
  border: none;
  appearance: none;
  outline: none;
}

#app {
  z-index: 2;
  min-height: 100vh;
  min-height: 100svh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.text--vertical{
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.text--mono {
  font-family: 'Share Tech Mono', monospace;
}
.text--dark {
  color: var(--c-text--dark);
}

.slide-in-left {
  animation: slide-in-left 900ms ease-in-out;
  animation-delay: 200ms;
  animation-fill-mode: both;
}
.slide-in-down {
  animation: slide-in-down 900ms ease-in-out;
  animation-fill-mode: both;
}
.slide-in-down+.slide-in-down{
  animation-delay: 100ms;
}
.scale-in {
  animation: scale-in 400ms ease-in-out;
  animation-fill-mode: both;
}
@keyframes slide-in-left {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-down {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}